body {
    background-image: url("../img/560676main_BarentsSea_2010243_full.jpg");
}

#noscript{
    background-color: #fff;
}
#micanvas{
display: none;
}
#micanvas1{
    background-color: #74bfff;
    margin-left: 15%;
    margin-top: 60px;
    height: 400px; 
    width: 400px;
}

#micanvas2{
    background-color: #74bfff;
    margin-left: 10%;
    margin-top: 60px;
    height: 400px; 
    width: 400px;
}